@import "./base.css";

header,
main,
footer {
  margin: var(--margin-gap);
}
header {
  min-height: 3vh;

  background-color: red;
}
main {
  min-height: 80vh;
  padding: 1rem 0;
}
footer {
  min-height: 5vh;
  background-color: blue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: clamp(600px, 100%, 2048px);
  width: clamp(600px, 100%, 2048px);
  padding: 0 0.5rem;
  line-height: 1.6;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  * {
    flex: 1 1 500px;
  }
}
.gap {
  gap: 10px;
}
img {
  z-index: 0;
}
